* {
  box-sizing: border-box;
}
h1 {

 text-align: center;
 
}
p {
  position:relative;
  border: 5px solid black;
  background-color: grey;
  width: 90%;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color:white;
  padding-left: 5px;
 
}


 


#item-name{

 border: 1px solid black;	
width:110px;
position:relative;
font-size:20px;
float:right;
text-align: center;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/

.shadow{
 -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);;
-webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.5);;
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);;
}

.oval-outline{
  margin-top:10%;
  align:center;
  width: 200px;
background-color: blue;
  border-radius: 50px 50px 50px 50px;
  margin: 0 auto
}

.blue {
     background-color: #0011AA;

  }
  .purple {
     background-color: #A11AAA;
    
  }
  
  .yellow {
     background-color: #A99A2A;
  }

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
   float:left;
left:50%;
top:50%;
  }
  .col-lg-1 {
    width: 33.33%;
    height:50%;
  }
  .col-lg-2 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 33.33%;
  }
  
}

.center{
 position: absolute;
        top: 20%;


}

body{

        


}

html{
  background: url(http://www.techcredo.com/wp-content/uploads/2010/06/wooden_top.jpg) no-repeat;
  background-size:100% 100%;
 height:100%;
 background-attachment:fixed;
} 

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3{

  }
  .col-lg-1 {
    width: 47%;
    float:left;
    margin-left: 3%;
  }
  .col-lg-2 {
    width: 47%;
    float:right;
    margin-right: 3%;
  
  }
  
  .col-lg-3 {
    width: 100%;
    float:left;
clear:left;

  }
  
}

@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3{
   position:relative;

  }
  .col-lg-1 {
    width: 100%;
  }
  .col-lg-2 {
    width: 100%;
  }
  .col-lg-3 {
    width: 100%;
  }
  
}